
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495349107569'); /* IE9*/
  src: url('iconfont.eot?t=1495349107569#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495349107569') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495349107569') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495349107569#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbu:before { content: "\e600"; }

.icon-mingxing:before { content: "\e602"; }

.icon-musicfill:before { content: "\e795"; }

.icon-musicforbidfill:before { content: "\e796"; }

.icon-appreciate_fill_light:before { content: "\e7e2"; }

.icon-activity:before { content: "\e6de"; }

.icon-share:before { content: "\e729"; }

.icon-systemprompt:before { content: "\e730"; }

.icon-time:before { content: "\e735"; }

.icon-dkw_bofang:before { content: "\e601"; }

.icon-dengpao:before { content: "\e616"; }

.icon-guanbi:before { content: "\e6a1"; }

